<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
</head>

<body>
  <div style="margin:0 auto;padding:24px;max-width:700px;font-family:'Helvetica Neue',Helvetica,Arial,Sans-serif,serif;font-size:13px;line-height:1.7;">
    <div style="text-align: center">
      <p style="margin: 24px auto 0px auto; font-size: 48px;font-family:'Times New Roman',Times,serif;">
        <a href="{holoread_url}" style="color: black;text-decoration: none;">HoloRead</a>
      </p>
      <p style="margin: 0px auto 24px auto; border-collapse: collapse; text-align: center;color: #333;">
        「 {date} 」
        <!-- <span>7/4/2018</span> -->
      </p>
    </div>
    {item_list}
    {footer}
  </div>
</body>

</html>