<div style="padding-left: 15px;padding-right: 15px; display: block;">
  <div style="color: #333; text-decoration: none;display: block;font-size: 22px; font-weight: bold; letter-spacing: -0.5px;line-height: 1.4;margin-bottom: 10px">
    <a style="text-decoration:none" href="{article_url}" target="_blank">
      <span style="font-family:'Times New Roman',Times,serif;color:black;">
        {en_title}
      </span>
    </a>
  </div>
  <p style="font-size: 15px; color: #8e8e8e; margin-top: 5px;margin-bottom: 5px;word-wrap:break-word;font-family:'Times New Roman',Times,serif">
    {show_summary}
  </p>
  <p style="font-family:'Times New Roman',Times,serif;margin-left: -5px;">
    <b style="padding-left: 5px;">FROM: </b>
    <span>{source}</span>
    <b style="padding-left: 5px;">TIME: </b>
    <span>{time}</span>
  </p>
</div>