<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
</head>

<body>
  <div style="background-color: #FFFFFF; padding: 20px 0;">
    <div style="font-family:'Helvetica Neue',Helvetica,Arial,Sans-serif;color:#333;margin:0 auto;padding:24px;max-width:700px;font-size:13px;line-height:1.7;border-radius:8px;background-color:#EEEEEE">
      <p style="font-size:28px;line-height:40px;font-weight:300;color:#282c32;padding-left:10px;margin-bottom:0;font-weight: bold;text-align:center;">
        Subscription Confirmed
      </p>

      <p style="padding:20px;padding-top:0px;padding-bottom:0px;font-size:15px;line-height:2.0;">
        Welcome to HoloRead, you are now subscribed to the HoloRead daily newsletter, You've been added to our list and will hear from us soon.
      </p>

      <p style="padding:20px;padding-top:0px;padding-bottom:0px;font-size:15px;line-height:2.0;">
        Thanks for subscribing!
      </p>

      <a href="{unsubscribe_url}" style="padding:20px;padding-top:0px;padding-bottom:0px;font-size:12px;line-height:2.0;opacity: 0.5;">
        I don't want to receive mail anymore.
      </a>
    </div>
  </div>
</body>

</html>